body.ajax-content-slider-processed.not-front .ajax-content-slider {
  width:100%;
  height: 100%;
  top:0;
  position:absolute;
  overflow:auto;
}
body.ajax-content-slider-processed.not-front, body.not-front.ajax-content-slider-processed #page {
  height: 100%;
  width:100%;
  overflow:hidden;
  position:absolute;
  top:0;
}
body.ajax-content-slider-processed.not-front #main {
  width:100%;
  height: 100%;
  overflow:hidden;
  position:absolute;
  top:0;
  padding: 0;
}
